<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chat.xteam.metalk">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MeTalk"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.chat.xteam.metalk.MainActivity"
            android:label="MeTalk"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.chat.xteam.metalk.ui.activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/TranslucentBackground">

        </activity>
        <activity
            android:name="com.chat.xteam.metalk.ui.activity.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Translucent" />
        <activity
            android:name="com.chat.xteam.metalk.ui.activity.ChatActivity"
            android:parentActivityName="com.chat.xteam.metalk.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.chat.xteam.metalk.ui.activity.AddGroupActivity"
            android:theme="@style/MyThemeNoActionbar" />

        <service
            android:name="com.chat.xteam.metalk.service.FriendChatService"
            android:exported="false"
            android:persistent="true" />

        <activity android:name="com.chat.xteam.metalk.ui.activity.FlashScreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>